.div-form {
  /* background-color: #292727; */
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  padding: 20px 40px 20px 40px;
  /* min-width: 400px; */
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 3px solid; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-form form {
  min-width: 400px;
}

.title {
  letter-spacing: -1px;
  color: #f02345;
  text-decoration: unset;
  margin-bottom: 20px;
  margin: auto;
  font-size: 2rem;
  /* text-align: center; */
}

.form-title {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
  margin-bottom: 10px;
}

.field {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  margin: 10px 0 10px 0;
}

.form-input {
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.form-button {
  background-color: #f02345;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(33, 33, 36) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.highlight-button {
  background: none;
  border: none;
  margin-left: 10px;
  color: #f02345;
  font-size: 1rem;
  cursor: pointer;
}

.toggle-member {
  margin: 10px 0 10px 0;
}
